.gsd-keyboard.settings-ported
.mozilla/
Google/
HKModInstaller/
Kitware/
QtProject.conf
VSCodium/
act/
baloofileinformationrc
btop/
dconf/
dolphinrc
evolution/
filetypesrc
gh/
glow/
gnome-initial-setup-done
go/
godot/
htop/
ibus/
kiorc
libfm/
menus/
nwg-look/
obs-studio/
org.gnome.Ptyxis/
pcmanfm-qt/
pcmanfm/
public_dotfiles/
pulse/
pupgui/
qBittorrent/
session/
supertuxkart/
systemd/
trashrc
unity3d/
vlc/
xsettingsd/
