@import 'color.css';

* {
    min-height: 14px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    min-height: 14px;
}

#workspaces,
#clock,
#pulseaudio,
#backlight,
#bluetooth,
#network,
#network.speed,
#battery,
#temperature.gpu,
#custom-cava,
#cpu,
#memory,
#custom-power {
    background: @background;
    color: @foreground;
    padding: 6px 8px;
    margin: 0 2px;
    border-radius: 6px;
}

#workspaces,
#workspaces button,
#workspaces button:hover,
#workspaces button.active,
#workspaces button.focused {
    all: unset;
    color: @foreground;
    background: @background;
    min-width: 30px;
    border-radius: 6px;
    font-weight: 500;
}

#custom-cava {
    font-family: 'bargraph';
}

#battery.charging,
#battery.good:not(.charging),
#battery.warning:not(.charging),
#battery.low:not(.charging),
#battery.critical:not(.charging) {
    border-radius: 6px;
}

#battery.good:not(.charging) {
    color: #f8d589;
}

#battery.warning:not(.charging) {
    color: #e0a858;
}

#battery.low:not(.charging),
#battery.critical:not(.charging) {
    color: #d20f39;
}

#battery.critical:not(.charging) {
    animation: blink 0.75s linear infinite alternate;
}

@keyframes blink {
    to {
        color: #d20f39;
        background: #eff1f5;
    }
}

